@import './variables/colors.css';
@import './components/currencies-manager/currencies-manager.css';
@import './components/currency/currency.css';
@import './components/header/header.css';
@import './components/main/main.css';
@import './components/menu/menu.css';
@import 'components/settings-form/settings-form.css';
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body
{
    height: 100%;
}
body
{
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
    color: var(--dark);
}
svg *
{
    fill: currentColor;
}
